.form-cont {
    max-width: 750px;
    margin : 0px auto;
    padding : 15px 0px;
}

.form-border {
    border : 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
}

.form-header {
    padding : 10px 0px;
    text-align: center;
    border-bottom : 1px solid rgba(0, 0, 0, 0.23);
    font-size: 1.25em;
    font-weight: bold;
}

.input-cont {
    padding : 10px 0px;
}

.all-inputs-cont {
    padding : 0px 10px;
    margin: 10px 0px;
}

.btn-cont {
    text-align: center;
}
