.journal-main-cont {
    padding : 15px 10px 25px;
    border-left : 1px solid #e0e0e0;
    border-right : 1px solid #e0e0e0;
}

@media(max-width : 690px) {
    .journal-main-cont {
        padding : 15px 0px 25px;
        border : none;
    }
}
