.add-food-cont {
    background-color: #e6e6e6;
    padding : 10px 15px;
    color : #595959;
}

.add-food-cont:hover {
    background-color: #d9d9d9;
}

.add-food-cont>span {
    background-color: inherit;
}

.add-food-plus {
    padding-right : 8px;
}

.table-cont {
    margin : 10px 0px;
}

.meal-type-header-cont {
    border-bottom : 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    padding : 16px;
}

.add-food-link {
    text-decoration: none;
}
